



body {
    background-color: powderblue;
    width:100%;
}
.Header{
    background-color: azure;
    border-radius: 10px;
    top: 0;
    margin-right: 1vw;
    margin-left: 1vw;
}

.date{
    font-weight: bold;
    text-align: right;
    font-size: 1.5vw;
    right: 4vw;
    margin-top: 12vw;
    position:absolute;

}

.pfp-container
{
    margin-bottom: 1vw;
    text-align: center ;
    border-radius: 10px;
    margin-left: 3vw;
    margin-top: 1vw;
    background-color: seagreen;
    float: left;
    width: 30vw;
}

.pfp-container img
{
    width:25vw;
    border-radius: 10px;
    border: .25vw solid azure;
}


.Descript{
    margin-left: 1vw;
    font-family: serif;
    font-size: 1.5vw;
    margin-right: 15vw;
    text-align: left;
    padding-bottom: 1vw;
}

#git img{
    margin-right: 1.5vw;
    border: 1px solid #555;
    width: 5vw;
    top: 630px;
    border-radius: 20px;

}
#in img{
    margin-right: 1.5vw;
    border: 1px solid #555;
    width: 5vw;
    top: 630px;
    border-radius: 20px;

}
#ig img{
    margin-right: 1.5vw;
    border: 1px solid #555;
    width: 5vw;
    top: 630px;
    border-radius: 20px;

}
#wrap{
    min-width: 600px;
}

#mail img{
    border: 1px solid #555;
    width: 5vw;
    top: 630px;
    border-radius: 20px;


}
.Project{
    color: black;
    background-color: azure;
    margin-right: 1vw;
    margin-left: 1vw;
    text-align: left;
    text-indent: 1vw;
    border-radius: 10px;
}

#name{
    color: forestgreen;
    font-size: 4vw;
    font-family: "American Typewriter", sans-serif;
    text-align: left;
    text-indent: 20px;
    z-index: 1;

}
.title h1{
    background-color: cadetblue;
    width: 35vw;
    margin-bottom: .01vw;
    border-radius: 10px 0 10px 0;
    text-align: center;
    font-size: 2vw;
}
.link{
    right: 3vw;
    width: 5vw;
    margin-top: 1vw;
    position:absolute;
    border-radius: 40px;
}
.AboutMe
{
    margin-top: 1vw;
    background-color: seagreen;
    width: 33vw;
    border-radius: 10px;
    margin-left: 1.5vw;
}
.AboutMe p{
    margin-left: 1vw;
    text-align: left;
    font-family: serif;
    color: azure;
    font-size: 2vw;
}
#project_title
{
    font-size: medium;
    font-family: "Roboto Light", serif;
}


#abtmehead
{
    color: azure;
    font-family: "American Typewriter", serif;
    text-align: center;
    font-size: 3vw;
    margin-top: 1vw;
}

.ProjectDisplay{
    background-color: seagreen;
    float: right;
    width: 60vw;
    border-radius: 10px;
    margin-right: 2vw;
    text-align: center;

}
#ProjectHeading
{
    font-family: "American Typewriter", serif;
    font-size: 3vw;
    color: azure;

}

#logo img{

    float: right;
    z-index: 0;
    width: 15vw;
    margin: auto 3vw;
    border-radius: 10px;
    position:relative;


}