



body {
    background-color: powderblue;
}
.Header{
    background-color: azure;
    border-radius: 10px;
    top: 0;
    right: 20px;
    left: 20px;
}

.pfp-container
{
    border-radius: 10px;
    margin-left: 20px;
    background-color: seagreen;
    float: left;
    min-height: 1px;
    width: 375px;
    height: 510px;
}

.PFP{
    border: 5px solid #555;
    border-radius: 10px;
    width: 290px;
    position: absolute;
    margin-left: 38px;

}
.Contact-Info{
    position: absolute;
    top: 630px;
}
.git img{
    border: 1px solid #555;
    width: 70px;
    height: 70px;
    position: absolute;
    margin-left: 30px ;
    border-radius: 10px;

}
.in img{
    border: 1px solid #555;
    width: 70px;
    height: 70px;
    position: absolute;
    margin-left: 110px ;
    border-radius: 10px;

}
.ig img{
    border: 1px solid #555;
    width: 70px;
    height: 70px;
    position: absolute;
    margin-left: 190px ;
    border-radius: 10px;

}

.mail img{
    border: 1px solid #555;
    width: 70px;
    height: 70px;
    position: absolute;
    margin-left: 270px ;
    border-radius: 10px;

}

#name{
    color: forestgreen;
    font-size: xxx-large;
    font-family: "American Typewriter", sans-serif;
    text-align: left;
    text-indent: 20px;
    
}
p {
    color: darkblue;
    text-align: center;
}
#logo img{
    width: 15%;
    float: right;
    margin: auto 20px;
}