/* Main CSS File for ajsanna.github.io */
body{
	background-color:  #CBD5C0;
}

/* Styles for the Name Tag Header and PFP*/
#NameTag h1 {
	font-size: 5vw;
	color: #333;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, serif;
	margin-top: 10vw;
	text-align: center;
	z-index: 1;
}
#MainPFP
{
	transform: rotate(-10deg);
  	transform-origin: top left;
	position: absolute;
	width: 20vw;
	top: 18vw;
	left: 36vw;
	z-index: -1;          /* lower values go to the back */
}
#leafLogo
{
	transform: rotate(10deg);
  	transform-origin: top left;
	position: absolute;
	top: 2vw;
	left:3vw;
}

#Navigation{
	font-size: 2vw;
	border-right: 2px solid black;
	text-align: left;
	margin: 1.5vw;
	/*background-color: gray;*/
	position: absolute;
	top:0vw;
	left:0vw;
	width: 12vw;
	height: 50vw;
}
#Navigation a{
  text-decoration: none;   /* removes underline */
  color: inherit;          /* inherits color from parent element */

}

#Navigation img{
	height: 4vw;
	width: 4vw;
	/*background-color: white;*/
}

#Resume{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 3vw;
	color: #CBD5C0;
	border-right: 2px solid black;
	text-align: center;
	margin: 0vw;
	background-color: black;
	position: absolute;
	top:0vw;
	right:0vw;
	width: 4vw;
	height: 48vw;
}
#Resume a{
  text-decoration: none;   /* removes underline */
  color: inherit;          /* inherits color from parent element */  
}

#Introduction{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, serif;
	font-size: 1vw;
	text-align: left;
	margin: 1.5vw;
	position: absolute;
	top:25vw;
	right:17.5vw;
	width: 20vw;
	height: 24vw;
}
#Button1 button{
	font-size: 1.5vw;
	background-color: black;
	color: #CBD5C0;
	border: none;
	padding: 1vw 1vw;
	cursor: pointer;
}